@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  /* outline: 1px solid silver; */
}

nav {
  /* From https://css.glass */
  background: rgba(3, 3, 3, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(3, 3, 3, 0.3); */
}
 nav link{
  color: #fff !important;
}
.scrolling-active {
  /* background-color: #fff; */
  /* transition: .5 ease; */
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
  /* color: #fff !important; */
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.01);
}