@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  /* outline: 1px solid silver; */
}

nav {
  background-color: #fff;
}